<%- include("partials/header") -%>
<!-- css -->
<link rel="stylesheet" href="css/style.css">
<%- include("partials/nav") -%>

<main class="container">
    <form action="/" method="post">
        <h1><i class="fas fa-chart-line"></i> Stock Overflow</h1>
        <label for="company"></label>
        <input id="company" type="text" name="company" autofocus required placeholder="Defina as ações desejadas">
        <br>
        <p class="errorMsg"><%=erro%></p>
        <button type="submit" class="btn btn-lg buscar"><i class="fas fa-chart-line"></i> Buscar!</button>
    </form>
</main>

<%- include("partials/footer") -%>