<%- include("partials/header") -%>
<!-- css -->
<link rel="stylesheet" href="css/style2.css">
<%- include("partials/nav") -%>

<main class="container">
    <h2><%=erro%></h2>
</main>

<%- include("partials/footer") -%>