body {  
    background-image: url("https://cdn.pixabay.com/photo/2017/09/07/08/53/money-2724235_960_720.jpg");
    background-position:top;
    background-size:  cover;    
    color: #48466d;
    font-family: 'Noto Sans JP', sans-serif;

    text-align: center;
}

p{
    font-size: 1.5rem;
}


h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
}

.buscar {
    background-color: #46cdcf;
    border-radius: 1rem;
    color: #48466d;
    margin-top: 1rem;
    font-size: 2rem;;
    position: relative;
    top: 25%;
}

.buscar:hover {
    background-color: #46edcf;
}

main {
    padding: 10% 10%;
    max-width: 1100px;
    font-size: 2rem;  
    font-weight: 500;
}

#company {
    border-radius: 1.5rem;
    color: #48466d;
    max-width: 90%;
    text-align: center;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
}