body {  
    background-image: url("https://cdn.pixabay.com/photo/2017/09/07/08/53/money-2724235_960_720.jpg");
    background-position:top;
    background-size:  cover;    
    color: #48466d;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    font-size: 2rem;
}



[type="date"] {
    border-radius: 0.5rem;
    color: #48466d;
    font-size: 1.5rem;
}


h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
}

.botao {
    text-align: center;
}

.btn {
    background-color: #46cdcf;
    color: #48466d;
    margin: auto auto;
    font-size: 2rem;;
    position: relative;
    top: 25%;
}

.btn:hover {
    background-color: #46edcf;
}

.container {
    padding: 10% 10%;
    max-width: 1100px;  
}

#company {
    border-radius: 0.5rem;
    color: #48466d;
    max-width: 90%;
    text-align: center;
}
